<div class="container-rename-settings">
  <app-rename-settings-header (onClear)="clearInputs()"></app-rename-settings-header>

  <div class="content-rename-settings">
    <div class="rename-settings">
      <app-rename-settings-form
        [title]="title"
        [year]="year"
        [edition]="edition"
        [isDisabled]="!hasSelectedEditions()"
        [titleError]="titleError"
        [yearError]="yearError"
        [editionError]="editionError"
        [hasMultipleSelectedEditions]="hasMultipleSelectedEditions()"
        (titleChange)="title = $event"
        (yearChange)="year = $event"
        (editionChange)="edition = $event"
        (inputChanged)="validateRealtime()"
      ></app-rename-settings-form>

      <app-rename-settings-actions
        [isPreviewDisabled]="!canUsePreviewAndRename"
        [isRenameDisabled]="!canUsePreviewAndRename"
        [isConvertToDisabled]="!canUseConvertTo"
        [isOmnibusDisabled]="!canUseOmnibus"
        (onPreview)="onPreviewClick()"
        (onRename)="onRename()"
        (onConvertTo)="onConvertTo()"
        (onOmnibus)="onOmnibus()"
      ></app-rename-settings-actions>

    </div>
  </div>
      <app-rename-settings-preview
        [showPreview]="showPreview"
        [renamePreview]="renamePreview"
        [previewMessage]="previewMessage"
      ></app-rename-settings-preview>
</div>
