.container-rename-settings {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  width: 100%;
  height: 100%;
  border: 1px solid var(--cor-borda);
}

.content-rename-settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.content-rename-settings {
  color: var(--texto-secundario);
  background-color: var(--fundo-secundario);
}

.rename-settings {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  justify-content: center;
  background-color: var(--fundo-secundario);
}
