:host {
  display: block;
}

.header-file-explorer {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--padding-padrao);
  background-color: var(--fundo-primario);
}

.title-file-explorer {
  display: flex;
  align-items: center;
}

.title-file-explorer h2 {
  margin-left: 10px;
  font-size: 0.8rem;
  color: var(--texto-secundario);
}

.actions-file-explorer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

.action-button.active svg {
  color: var(--verde-primario);
}

.action-button:disabled {
  opacity: 0.6;
}

.action-button:disabled .svg-icon {
  color: var(--vermelho-primario);
}

.action-button:disabled .svg-icon:hover {
  color: var(--vermelho-hover);
}

.svg-icon {
  width: 20px;
  height: 20px;
}

.delete {
  color: var(--vermelho-primario);
}

.delete:hover {
  color: var(--vermelho-hover);
}
