<div class="container-file-explorer">
  <app-file-explorer-header
    [isActive]="isActive"
    [hasItems]="fileManagerService.fileEditions.length > 1"
    (chooseAll)="toggleChooseAll()"
    (deleteAll)="deleteAll()"
  ></app-file-explorer-header>

  <div class="file-explorer" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (edition of fileManagerService.fileEditions; track edition.id) {
      <app-file-explorer-edition-item
        [edition]="edition"
        [canDrag]="fileManagerService.fileEditions.length > 1"
        [isOpen]="isEditionOpen(edition.id)"
        [isSelected]="isEditionSelected(edition.id)"
        [selectedPageKeys]="activePageKeys"
        (openRequested)="toggleFileEdition(edition.id)"
        (selectionRequested)="toggleEditionSelection(edition.id)"
        (deleteRequested)="deleteEdition(edition.id)"
        (pageRequested)="togglePageSelection(edition.id, $event)"
      ></app-file-explorer-edition-item>
    }
  </div>
</div>
