<div class="container-comic-preview">
  <div class="header-comic-preview">
    <div class="title-comic-preview">
      <svg lucideEye class="svg-icon"></svg>
      <h2>Visualização</h2>
    </div>
  </div>
  <div class="content-comic-preview">
    @if (comicPreviewStateService.selectedPage) {
      <img
        [src]="comicPreviewStateService.selectedPage.imagePath"
        [alt]="comicPreviewStateService.selectedPage.fileName"
        class="comic-preview-image"
      />
    } @else {
      <div class="content-comic-preview-svg">
        <svg lucideImage></svg>
      </div>

      <p>Selecione uma página para visualizar</p>
    }
  </div>
  <div class="name-selected-comic">
    @if (comicPreviewStateService.selectedPage) {
      <p>{{ comicPreviewStateService.selectedPage.fileName }}</p>
    } @else {
      <p>Nenhum Arquivo Selecionado</p>
    }
  </div>
</div>
