@media (min-width: 600px) {
  .container-main {
    padding: var(--padding-padrao-responsivo);
  }
}

@media (min-width: 1001px) {
  .container-main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    min-height: 100%;
  }
}
