.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: var(--padding-padrao);

  font-family: var(--familia-fonte-padrao);

  border-bottom: 1px solid var(--cor-borda);
}
