/* ========================================
   Design Tokens
======================================== */
:root {
  /* Surface */
  --fundo-primario: #f5f7f6;
  --fundo-secundario: #edf1ef;

  --fundo-hover: #e3e9e5;
  --fundo-input: #fbfcfb;

  /* Borders */
  --cor-borda: #d3dbd6;

  /* Text */
  --texto-primario: #223028;
  --texto-secundario: #5e6b63;

  /* Semantic colors */
  --verde-primario: #498661;
  --verde-hover: #4b9168;

  --vermelho-primario: #b84e4e;
  --vermelho-hover: #9e3f3f;

  /* Extras */
  --borda-input: #cfd8d3;

  /* Font families and Padding - no .dark-mode needed*/
  --familia-fonte-padrao: 'Geist', 'Geist Fallback';
  --familia-fonte-mono-padrao: 'Geist Mono', 'Geist Mono Fallback';

  --padding-padrao: 0.5rem 0.4rem;
  --padding-padrao-responsivo: 0.5rem 1.5rem;
}

.dark-mode {
  /* Surface */
  --fundo-primario: #0b0d10;
  --fundo-secundario: #0f1216;

  --fundo-hover: #131920;
  --fundo-input: #10151a;

  /* Borders */
  --cor-borda: #1f262d;

  /* Text */
  --texto-primario: #e8f1ec;
  --texto-secundario: #a7b7ae;

  /* Semantic colors */
  --verde-primario: #2dd48a;
  --verde-hover: #19784d;

  --vermelho-primario: #520800;
  --vermelho-hover: #e05757;

  /* Extras */
  --borda-input: #25303a;
}

/* ========================================
   Base
======================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--familia-fonte-padrao);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--cor-borda) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--cor-borda);
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background-color: var(--fundo-primario);
  color: var(--texto-primario);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.svg-icon {
  color: var(--texto-secundario);
}

.delete {
  color: var(--vermelho-primario);
}

.delete:hover {
  color: var(--vermelho-hover);
}
